@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.react-datepicker__day--selected {
  background-color: #155dfc;
  color: white;
  border-radius: 9999px;
}
.react-datepicker__day:hover {
  background-color: #bfdbfe;
}

.react-datepicker {
  border: 1px solid black !important;
  border-radius: 16px !important;
}
